* {
	box-sizing: border-box;
  }

p {
	color: white;
}

body {
	background-color: #B6D6F2;
	margin: 0 auto;
} 

/*Header*/

.header {
	text-align: center;
	height: 500px;
	width: 1400px;
	background-color: #010A26;
	box-align: center;
	padding-top: 60px;
	font-family: 'Mukta Malar', sans-serif;
	font-size: 100px;
	font-weight: 400px;
	line-height: 180px;	
	color: white;
	position: relative;
	z-index: 2;
}


#bold {
	font-weight: bold;
}

#slavik {
	font-size: 130px;
}

/*Battlefield V*/

.BFV_image {
	position: absolute;
	z-index: 1;
	top: 450px;
}

.BFV_place {
	position: absolute;
	z-index: 5;
	height: 200px;
	width: 200px;
	background-color: #010A26;
	border-radius: 50%;
	top: 540px;
	left: 50px;
}

#BFV_place_number {
	position: absolute;
	z-index: 6;
	text-align: center;
	font-family: 'Mukta Malar', sans-serif;
	font-size: 100px;
	font-weight: 500px; 
	top: 455px;
	left: 110px;
}

.BFV_info {
	height: 550px;
	width: 1400px;
	background-color: #010A26;
	position: relative;
	z-index: 4;
	top: 470px;
}

.BFV_info_content {
	position: relative;
	display: inline-block;
	top: 90px;
	margin: 0px 25px;
	border: #B6D6F2 solid 15px;
}

/*Rainbow Six Siege*/

.R6S_image {
	position: relative;
	z-index: 1;
	top: 440px;
}

.R6S_place {
	position: absolute;
	z-index: 5;
	height: 200px;
	width: 200px;
	background-color: #ea8f2b;
	border-radius: 50%;
	top: 1550px;
	left: 50px;
}

#R6S_place_number {
	position: absolute;
	z-index: 6;
	text-align: center;
	font-family: 'Mukta Malar', sans-serif;
	font-size: 100px;
	font-weight: 500px;
	top: 1465px;
	left: 110px;
}


.R6S_info {
	height: 550px;
	width: 1400px;
	background-color: #ea8f2b;
	position: relative;
	z-index: 4;
	top: 300px;
}

.R6S_info_content {
	position: relative;
	display: inline-block;
	top: 90px;
	margin: 0px 25px;
	border: #F4B876 solid 15px;
}

/*Uncharted4*/

.U4_image {
	position: relative;
	z-index: 1;
	top: 250px;
}

.U4_place {
	position: absolute;
	z-index: 5;
	height: 200px;
	width: 200px;
	background-color: #a02931;
	border-radius: 50%;
	top: 2540px;
	left: 50px;
}

#U4_place_number {
	position: absolute;
	z-index: 6;
	text-align: center;
	font-family: 'Mukta Malar', sans-serif;
	font-size: 100px;
	font-weight: 500px;
	top: 2455px;
	left: 110px;
}

.U4_info {
	height: 550px;
	width: 1400px;
	background-color: #a02931;
	position: relative;
	z-index: 4;
	top: 200px;
}

.U4_info_content {
	position: relative;
	display: inline-block;
	top: 90px;
	margin: 0px 25px;
	border: #010101 solid 15px;
}
