
*{
	text-align: center;

}

* {
	box-sizing: border-box;
  }

p {
	color: white;
}

body {
	background-color: #B6D6F2;
	margin: 0 auto;
} 

/*Header*/

.header {
	height: 80%;
	width: 100%;
	background-color: #010A26;
	box-align: center;
	padding-top: 80px;
	font-family: 'Mukta Malar', sans-serif;
	font-size: 130px;
	font-weight: normal;
	line-height: 180px;	
	color: white;
}


#bold {
	font-weight: bold;
}

#slavik {
	font-size: 160px;
}

/*Battlefield V*/

.BFV_image {
	
}

.BFV_info {
	height: 600px;
	width: 1400px;
	background-color: #010A26;
}

.BFV_video {
	
}

